# .github/workflows/docs.yml
name: Build Docs

on:
  pull_request:
    branches:
      - master
    paths:
      - 'man/**'
      - '**.md'

jobs:
  build-docs:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y \
            make \
            pandoc \
            python3-pip \
            texinfo \
            texlive-plain-generic
          pip3 install md-toc --break-system-packages

      - name: Debug permissions
        run: |
          whoami
          id
          ls -la
          stat man/hyperbole.info

      - name: Build docs
        run: |
          make doc-clean
          \rm -f man/hyperbole.info man/hyperbole.html man/hyperbole.pdf
          make doc
